body {

    height: 100vh;
    background-color: #200f16;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.icon {
    display: flex;
    flex-direction: column;
    /* Anordnung von oben nach unten */
    align-items: center;
    /* Zentriert das Bild und den Button horizontal */
    gap: 10px;
    /* Abstand zwischen Bild und Button */
    text-align: center;
    /* Zentrierter Text */
}


button {
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #45a049;
    /* Dunkleres Grün beim Hover */
    transform: scale(1.05);
    /* Leicht vergrößern */
}

button:active {
    transform: scale(0.95);
    /* Leicht verkleinern beim Klicken */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    color: #0dd617;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 20px;
    
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

img {
    width: 150px;
    /* Oder jede andere feste Größe */
    height: auto;
    /* Proportionen beibehalten */
    border-radius: 10px;
    margin-bottom: auto;
    box-shadow: 20px 40px 200px rgb(19, 197, 144);
}

button {
    width: 140px;
    /* Gleiche Breite für Konsistenz */
    text-align: center;
    border-radius: 5px;
    padding: 1px;
    font-size: 26px;
    background-color: #889e89;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 4px;
    gap: 4px;
    margin-top: 4px;
}



@media (max-width: 768px) {
    body {
        gap: 10px;
        /* Weniger Platz bei kleineren Bildschirmen */
    }
}